/*styles common for all sizez*/
:root{
      --bgc_top:#33A1FD;
      --bgc_btm:#61E8E1;
      --h_txt:#EAC435;
      --phone_txt:#FE5F55;
      --main_txt:#114B5F;
/*       --bgc_top:#34435e;
      --bgc_btm:#002a32;
      --h_txt:#766C7F;
      --phone_txt:#b3af8f;
      --main_txt:#21a2ec; */
      --ff_main:'Inconsolata', monospace;
      --burg_h: 0.2rem;
      --burg_w: 1.5rem;
}

/* normalize */
*{
      scroll-behavior: smooth;
      box-sizing: border-box;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-weight: 650;
}
body{
      background: linear-gradient(45deg, var(--bgc_btm),var(--bgc_top));
      font-family: var(--ff_main);
      color: var(--main_txt);
}
h1,h2{
      color:var(--h_txt);
      text-align: center;
      margin-top: 1.5em;
      margin-bottom: 1em;
}
.wrapper_main{
      container: main/inline-size;
      margin-inline: auto;
      width: calc(min(90%,70rem));
}
.main_nav{
      color:var(--h_txt);
      list-style: none;
}
.button_hover{
      border-radius: 1rem;
      border: 0.3rem solid var(--bgc_top);
      
      box-shadow: 5px #1b1a1a inset,
       rgba(255,255,255,0.5) 0px 0px 2rem;
      
      background-color: var(--main_txt);
      
       color:var(--h_txt);
       text-decoration:none;

       display: flex;
       justify-content: center;
       align-items:center;

       cursor:pointer;

       font-weight: bolder;

      &:hover,
      &:focus{
            background-color: var(--h_txt);
            color: var(--bgc_btm);
            transition: .25s 0.1s linear;
            box-shadow: rgba(255,255,255,0.8) 0px 0px 2rem;
      }
}
/* .main_nav__item{
} */
.main_nav__link{
      text-transform: uppercase;
}
.sec_container__header{
      font-size: 3em;
      margin-inline: auto;
      transition: .2s .1s ease-in;
      opacity:1;
      border-bottom: 1px solid red;
}
.gmap{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:auto;
      height:350px;
      width: 90%;
      box-shadow: 0px 0px 200px rgba(255,255,255,0.5);
}




/* styles for phone */
@container main (width < 950px){ 

      /* hamburger menu */
      .burger{
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 30;

            height: 3rem;
            width: 3rem;
            margin-right: 1rem;
            margin-left:auto;
      }
      .burger_line{
            display:block;

            background-color: var(--main_txt);
            padding: var(--burg_sz);
            position:relative;
            height: var(--burg_h);
            Width: var(--burg_w);
            margin-block: 1em;
      }
      .burger_line::before, 
      .burger_line::after{
            content:"";
            background-color: var(--main_txt);
            height: var(--burg_h);
            Width: var(--burg_w);
            position: absolute;
            cursor: pointer;
            transition: .3s cubic-bezier(.24,1.18,.55,-0.28);
      }
      .burger_line::before{
            transition: .1s linear;
            top: -0.5em;
      }
      .burger_line::after{
            transition: .1s linear;
            bottom: -0.5em;
      }

      .burger.active .burger_line{
            background-color: transparent;
      }
      .burger.active .burger_line::before {
            transform: rotate(315deg);
            transition: .3s linear;
            top: 0;
            background-color: red;
      }
      .burger.active .burger_line::after{
            transform: rotate(-315deg);
            transition: .3s linear;
            bottom: 0;
            background-color: red;
      }

      .hidden{
            display:none;
      }
      .burger.active .main_nav{
            position:absolute;
            bottom:0;
            width: 100lvw;
            z-index:9999;
            background-color: linear-gradient(var(--bg_top),var(--bg_btm));
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;

            margin-inline: 3rem;
      }
      .burger.active .main_nav__item{
            margin-left: 3rem;
      }


      .fixed{
            overflow: hidden;
            background-color: red;
      }
      .logo{
            padding:0.7rem 1.2rem;
            border: 1px red solid;
            display: flex;
            width: 100%;
            justify-content: center;
            margin-block: 1rem;
      }
      .header{
            position: sticky;
            top: 0;

            background-color: var(--bgc_top);

            z-index: 5;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 1px solid var(--bgc_btm);

            width:100lvw;
            transform: translateX(-5%);
      }
      .header_cnt{
            display:flex;
            justify-content:left;
            align-items: space-around;
            flex-direction:column;
            /* flex:1; */
      }
      .header_cnt__link{
            text-decoration: none;
            color: var(--phone_txt);
            display: block;
            padding:1rem 0.5rem;
            font-size: 1em;

            font-weight: bold;
            text-transform: uppercase;

            text-align:center;
      }
      .sec_heading__slogan{
            font-size: 5rem;
      }
      .item-card__hdr{
            margin-block: 1rem;
            text-align:center;
      }
      .section_container:not(:first-child){
            margin-top: 3rem;
      }
      .sec_container__header{
            margin-bottom: 1em;
      }
      .item-card__img{
            display: block;
            width: 3rem;
            height: 4rem;
            background: red;
            margin-inline: auto;
      }
      .item-card__descr{
            text-align: justify;
            margin-inline: auto;
            margin-bottom: 1rem;
            display: block;
      }
      .main_nav:nth-child(2) > .main_nav__item{
            border-bottom: 3px solid red /* var(--bgc_btm) */;
      }
      .sec_contacts__map{
            height: 90%;
            width: 90%;
          /*   display: flex;
            justify-content: center;
            align-items: center; */
            margin-block:1em;
            margin-inline:auto;
      }
      .gmap{
            display: block;
      }
      .footer{
            padding-bottom: 3rem;
      }
      .footer_smm{
            display: flex;
            justify-content: space-around;
            margin-block: 1rem;
      }
      .footer_smm__link{
            display:flex;
            padding: 1em;
           
      }
}



/*styles for desktop*/
@container main (width > 950px){
      .wrapper_main{
            margin-inline:20px;
      }
      .header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-block: 2rem;
            padding-bottom: 1rem;
            border-bottom: #131313 1px solid;
      }
      .logo{
            background: #ffff;
            border: 2px solid red;
            padding: 2rem;
            display: block;
      }
      .header_cnt{
            display: flex;
            flex-direction: column;
      }
      .header_cnt__link{
            text-decoration: none;
            color: var(--phone_txt);
            display: block;
            padding:0.5rem 1rem;
            font-size: 1rem;

            font-weight: bold;
      }
      .header_nav{
            display: flex;
      }
      .main_nav{
            display:flex;
            gap: 2rem;
      }
      .main_nav__link{
            font-size: 1.5rem;
            display: block;
            padding: 1rem 1.5rem;
      }

      section{
            display:grid;
            grid-auto-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-inline: auto;
            margin-block:5rem;
            position:relative;
      }
      .section-wrapper{
            display:flex;
            justify-content:space-around;
            gap:4rem;
      }
      .sec_par{
            width: max(5rem,80%);
            margin-inline:auto;
            margin-block: 1rem;
      }
      .item-card{
            display: flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
       
      }
      .item-card__img{
            width: 4rem;
            height: 6rem;
            background: #ffff;
      }
      .item-card__hdr{
            display:block;
            margin-block: 1.5rem;
      }
      .item-card__descr{
            text-align:justify;
      }
      .sec_heading{
            background: center / cover no-repeat url('../img/ms-48.ru_elektrika_02.jpg');
            color: var(--h_txt);
      }
      .section_container.moved .sec_container__header{
            translateY:-5em;
            transition:opasity .2s .1s linear, translate .5s .4s ease-in;
            opacity: 0;
            border-bottom: rgba(255,255,255,0.0);
      }
      .sec_heading__slogan{
            font-size:10rem;
            font-weight: 900;
            text-shadow: 
            7px 7px 10px rgba(200,200,200,0.7),
            -7px -7px 10px rgba(100,200,200,0.7);
            opacity:1;
            transition: .4s ease-in;
      }
      .section_container.moved .sec_heading__slogan{
            transition: .4s ease-in;
            translateX:-7rem;
            opacity:0;
      }
      .sec_heading__par{
            font-size: 2rem;
            font-weight: 700;

            color: var(--main_txt); 
            width: 80%;
            text-align: center;

            margin-inline: auto;
            margin-bottom: 1rem;

            background-color: rgba(200,200,200,0.9);
            padding: 2rem;
            border-radius: 2.5rem;

            opacity:1;
            transition: .4s .5s ease-in;
      }
      .section_container.moved .item-card{
            transition: .4s ease-in;
            translateY:-2rem;
            opacity:0;
      }
      .item-card{
            opacity:1;
            transition: .4s .2s ease-in;
      }
      .section_container.moved .sec_services__item{
            transition: translate .4s .1s ease-in, opasity .2s linear;
            translateY:-2rem;
            opacity:0;
      }
      .sec_prefer__slider{
            border: 1px solid red;
            background-color: rgba(255,255,255, 0.5);
            height: 10rem;
            margin-block: 2rem;
      }
      .footer{
            display: flex;
            justify-content: space-around;
            align-items: center;
      }
      .footer_smm{
         /*    container: footer_smm/inline-size; */
            display:flex;
            justify-content: center;
            padding: 2rem;
            flex-wrap:wrap;
            &@media (max-width<300px){
                  flex-direction:column;
            }     
      }
      .footer_smm__link{
            transition: 0.3s 0.3s linear;
            width: 4rem;
            height: 2.5em;
            margin:0.3rem;
            &:hover{
                  opacity:1;
                  transition: 0.2s 0.3s linear;
                  border-radius:0.8rem;
                  box-shadow: 0px 0px 20px #ffff;
            }
      }
}

