/*styles common for all sizez*/
:root{
/*       --bgc_top:#33A1FD;
      --bgc_btm:#61E8E1;
      --h_txt:#EAC435;
      --phone_txt:#FE5F55;
      --main_txt:#114B5F; */
      --bgc_top:#34435e;
      --bgc_btm:#002a32;
      --h_txt:#766C7F;
      --phone_txt:#b3af8f;
      --main_txt:#21a2ec;
      --accent_clr:#47FEFE;
      --ff_main:'Inconsolata', monospace;
      --ff_hdr: 'Klee One', cursive;
      --burg_h: 0.2rem;
      --burg_w: 1.5rem;
}

/* normalize */
*{
      scroll-behavior: smooth;
      box-sizing: border-box;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-weight: 550;
}
body{
      background: linear-gradient(45deg, var(--bgc_btm),var(--bgc_top));
      font-family: var(--ff_main);
      color: var(--main_txt);
}
h1,h2{
      color:var(--h_txt);
      text-align: center;
      margin-bottom: 1em;
      font-family: var(--ff_hdr);
      margin-top: 1em;
}
.logo{
      display:block;
      scale:0.5;
}
.cont_cont{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:space-between;
      min-width:180px;
}
.cont_cont>*{
      display:block;
}
.wrapper_main{
      container: main/inline-size;
      margin-inline: auto;
      width: calc(min(90%,70rem));
}
.main_nav{
      color:var(--h_txt);
      list-style: none;
}
.button_hover{
      border-radius: 1rem;
      border: 0.3rem solid var(--bgc_top);
      
      box-shadow: 5px #1b1a1a inset,
       rgba(255,255,255,0.5) 0px 0px 2rem;
      background-color: var(--main_txt);

       color:var(--h_txt);
       text-decoration:none;

       display: flex;
       justify-content: center;
       align-items:center;

       cursor:pointer;
       font-weight: bolder;

      &:hover,
      &:focus{
            background-color: var(--h_txt);
            color: var(--main_txt);
            transition: .25s 0.1s linear;
            box-shadow: rgba(255,255,255,0.8) 0px 0px 5rem;
      }
}
.sec_prefer__slider{
      position:relative;
      display:flex;
      justify-content: center;
      align-items: center;
      overflow:hidden;
      height:min-content;
}
.slider_btn{
      display:flex;
      align-items:center;
      justify-content:center;

      position:absolute;
      top:50%;

      color:var(--h_txt);
      background-color: rgba(255,255,255,0.1);
      border:0;
      border-radius:1rem;

      writing-mode: vertical-rl;
      text-align:center;

      width: 3em;
      height: 6em;

      transform:translateY(-3em);
      transition:0.3s 0.1s ease;

      cursor:pointer;
      z-index:999;


      &.prev{
            left:0.5em;
      }

      &.next{
            right:0.5em;
      }
      &:hover{
            transition:0.3s 0.1s ease;
            background-color: rgba(255,255,255,0.3);
      }
      &.prev:hover{
            left:0.55rem;
            transition:0.3s 0.2s ease;
          
      }
      &.next:hover{
            right:0.55rem;
            transition:0.3s 0.2s ease;
      }

}
.slider_img{
      display:flex;
      justify-content: center;
      align-items:center;

      height: 100%;
      object-fit: contain;

      transition: .4s ease;

      &:not(.slider_img__visible){
            transform: scaleX(0);
      }

      &.slider_img__central{
            display:block;
            z-index:99;
            box-shadow:0px 0px 500px rgba(0,0,0,0.3);
      }
}

.slider_img__prev{
      
}
.slider_img__center{
      position:absolute;
      top:0;
      bottom:0;

      display:flex;
}

/* .main_nav__item{
} */
.main_nav__link{
      text-transform: uppercase;
}
.sec_container__header{
      font-size: 3rem;
      background:rgba(0,0,0,0.5);
      width:max-content;
      margin-inline:auto;
      border-radius: 3rem;
      padding:0.7rem 1.5rem;
      color:var(--main_txt);

      transition: .4s .3s ease-in;

}
.item_card{
      opacity:1;
      transition: .4s .2s ease-in;
      display: flex;
      flex-direction:column;
      justify-content:start;
      align-items: center;
      margin-inline: 1em;
      background-color: rgba(0,0,0,0.1);
      border-radius: 2rem;
      padding:1rem;
}
.item_card__hdr{
      display:block;
      background-color: rgba(0,0,0,0.2);
      padding: 1rem 1.5rem;
      width: 25ch;

      border-radius: 1rem;
      text-align:center;
      vertical-align: middle;

}
.item_card__descr{
      text-align: center;
}
.gmap{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:auto;
      height:350px;
      width: 90%;
      box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}
.phone{
      text-decoration: none;
      color: var(--phone_txt);
      display: block;
      padding:1rem 0.5rem;
      font-size: 1em;

      font-weight: bold;
      text-transform: uppercase;

      text-align:center;
}




/* styles for phone */
@container main (width < 950px){ 

      /* hamburger menu */
      .burger{
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 30;

            height: 3rem;
            width: 3rem;
            margin-right: 1rem;
            margin-left:auto;
      }
      .burger_line{
            display:block;

            background-color: var(--main_txt);
            padding: var(--burg_sz);
            position:relative;
            height: var(--burg_h);
            Width: var(--burg_w);
            margin-block: 1em;
      }
      .burger_line::before, 
      .burger_line::after{
            content:"";
            background-color: var(--main_txt);
            height: var(--burg_h);
            Width: var(--burg_w);
            position: absolute;
            cursor: pointer;
            transition: .3s cubic-bezier(.24,1.18,.55,-0.28);
      }
      .burger_line::before{
            transition: .1s linear;
            top: -0.5em;
      }
      .burger_line::after{
            transition: .1s linear;
            bottom: -0.5em;
      }
      .burger.active .burger_line{
            background-color: transparent;
      }
      .burger.active .burger_line::before {
            transform: rotate(315deg);
            transition: .3s linear;
            top: 0;
            background-color: red;
      }
      .burger.active .burger_line::after{
            transform: rotate(-315deg);
            transition: .3s linear;
            bottom: 0;
            background-color: red;
      }
      .hidden{
            display:none;
      }
      .burger.active .main_nav{
            position:absolute;
            bottom:0;
            width: 100lvw;
            z-index:9999;
            background-color: linear-gradient(var(--bg_top),var(--bg_btm));
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;

            margin-inline: 3rem;
      }
      .burger.active .main_nav__item{
            margin-left: 3rem;
      }
      .fixed{
            overflow: hidden;
            background-color: red;
      }


      /* */
      .logo{

      }
      .header{
            position: sticky;
            top: 0;

            background-color: var(--bgc_top);

            z-index: 5;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 1px solid var(--bgc_btm);

            width:100lvw;
            transform: translateX(-5%);
      }

      .sec_heading{
            background: center / cover no-repeat url('../img/ms-48.ru_elektrika_02.jpg');
            color: var(--h_txt);
            border-radius: 3rem;
            height:25lvh;
      }
      .sec_heading__slogan{
            font-size: 3rem;
            padding-block: 1rem;
            color:var(--accent_clr);
      }
      .sec_heading__par{
            font-weight: 700;

            color: var(--main_txt); 
            width: 80%;
            text-align: center;

            margin-inline: auto;
            margin-bottom: 3rem;

            background-color: rgba(200,200,200,0.9);
            padding: 1rem;
            border-radius: 2.5rem;

            opacity:1;
            transition: .4s .5s ease-in;
      } 
      .sec_container:not(:first-child){
            margin-top: 2em;
      }
      .item_card__hdr{
            font-size:1.5rem;
            background-color: rgba(0,0,0,0.2);
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            vertical-align:middle;
      }
      .sec_container__header{
            margin-bottom: 1em;
            display:block;
      }
      .item_card__img{
            display: block;
            width: 3rem;
            height: 4rem;
            background: red;
            margin-inline: auto;
      }
      .item_card__descr{
            text-align: justify;
            margin-inline: auto;
            margin-bottom: 1rem;
            display: block;
      }
      .main_nav:nth-child(2) > .main_nav__item{
            border-bottom: 3px solid red /* var(--bgc_btm) */;
      }
      .sec_contacts__map{
            height: 100%;
            width: 100%;
          /*   display: flex;
            justify-content: center;
            align-items: center; */
            margin-block:1em;
            margin-inline:auto;
      }
      .gmap{
            display: block;
      }
      .footer{
            padding-bottom: 3rem;
      }
      .footer_smm{
            display: flex;
            justify-content: space-around;
            margin-block: 1rem;
      }
      .footer_smm__link{
            display:flex;
            padding: 1em;
           
      }
}



/*styles for desktop*/
@container main (width > 950px){
      .wrapper_main{
            margin-inline:20px;
      }
      .header{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-block: 2rem;
            padding-bottom: 1rem;
            border-bottom: #131313 1px solid;
      }
      .cont__link{
            text-decoration: none;
            color: var(--phone_txt);
            padding:0.5rem 1rem;
            font-size: 0.8rem;

            display: flex;
            justify-content: center;
            &:hover{
                  text-shadow:0px 0px 6px rgba(255,255,255,0.8);
            }
      }
      .header_nav{
            display: flex;
      }
      .main_nav{
            display:flex;
            gap: 2rem;
      }
      .main_nav__link{
            font-size: 1.5rem;
            display: block;
            padding: 1rem 1.5rem;
      }

      section{
/*             display:grid;
            grid-auto-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-inline: auto;
            margin-block:5rem;
            position:relative; */
      }
      .sec_wrapper{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            justify-content: center;
      }
      .sec_par{
            width: max(5rem,80%);
            margin-inline:auto;
            margin-block: 1rem;
      }
      .item_card__img{
      }
      .item_card__hdr{
            display:block;
            margin-block: 1.5rem;
      }
      .item_card__descr{
            text-align:justify;
            font-weight:300;
      }
      .sec_heading{
            background: center / cover no-repeat url('../img/ms-48.ru_elektrika_02.jpg');
            color: var(--h_txt);
            border-radius: 3rem;
            height: 50lvh;
            display: flex;
            flex-direction:column;
            align-items:center;
            justify-content: space-around;
      }
      .sec_container.moved .sec_container__header{
            translateY:-5em;
            transition:opasity .2s .1s linear, translate .5s .4s ease-in;
            opacity: 0;
            border-bottom: rgba(255,255,255,0.0);
      }
      .sec_heading__slogan{
            font-size:3rem;
            font-weight: 900;
            text-shadow: 
            1px 1px 15px rgba(255,255,255,0.7),
            -1px -1px 15px rgba(255,255,255,0.7);
            opacity:1;
            transition: .4s ease-in;

            color: var(--accent_clr);
      }
      .sec_container.moved .sec_heading__slogan{
            transition: .4s ease-in;
            translateX:-7rem;
            opacity:0;
      }
      .sec_heading__par{
            display:block;
            font-size: 1rem;
            font-weight: 600;

            color: var(--main_txt); 
            width: 80%;
            text-align: center;

            background-color: rgba(200,200,200,0.9);
            padding: 2rem;
            border-radius: 2.5rem;

            opacity:1;
            transition: .4s .5s ease-in;
      }
      .sec_container.moved .item_card{
            transition: .4s ease-in;
            translateY:-2rem;
            opacity:0;
      }
      .serv_img{
            height: 7rem;
      }


      .sec_container.moved .cv_text__wrapper,
      .sec_container.moved .cv_photo{
            transition: translate .5s .3s ease-in, opasity .2s linear;
            translateY:-2rem;
            opacity:0;
      }
      .sec_container.moved .sec_services__item{
            transition: translate .4s .1s ease-in, opasity .2s linear;
            translateY:-2rem;
            opacity:0;
      }
      .sec_prefer__slider{
            height: 40rem;
            margin-block: 2rem;
      }
      .sec_hardware__img{
            height: 200px;

            display:flex;
            align-items: center;
            justify-content: center;
      }

      .cv{
            display: grid;
            grid-template-columns:1.5fr 1fr;
            justify-content:center;
            align-items:center;
            gap:1rem;
            margin-inline:auto;
            max-width: 90%;

            transition: .3s .4s ease-in;
            container:cv / inline-size;
      }

      .cv > .sec_container__header{
            grid-column: 1/3;
 
      }
      .cv_text__wrapper{
            margin:1rem 1.5rem;
            transition:translate .4s .1s ease-in, opasity .2s linear;
            opacity:1;
      }
      .cv_text{
            text-align:justify;
            &:not(:first-child){
                  margin-top: 1rem;
            }
      }
      .cv_photo{
            display: flex;
            justify-content:center;
            align-items: center;
            object-fit:contain;
            box-shadow: 0px 0px 300px rgba(255,255,255,0.2);
            max-height: 35rem;
            object-fit:contain;
      }
      .cv_photo__img{
            max-height:35rem;
      }

      .footer{
            display:grid;
            grid-template-columns: 1fr 1fr 150px 1fr 1fr;
            gap:0.3rem;
            justify-content:center;
            align-items:center;
            margin-block: 3rem;
      }
      .footer_smm{
            display:flex;
            justify-content: center;
            align-items: center;
            container: footer_smm / inline-size;

      }
      @container footer_smm (width<320px){
            .footer_smm{flex-direction:column;}
      }
      .footer_smm__link{
            transition: 0.3s 0.3s linear;
            width:3.5rem;
            height: 2rem;
            margin:0.1rem;
            &:hover{
                  transition: 0.2s 0.3s linear;
                  border-radius:0.8rem;
                  box-shadow: 0px 0px 20px #ffff;
            }
          
      }
      .footer_logo{
            display: flex;
            justify-content:center;
            align-items: center;
      }

}

